module.exports = {


    notificationUserId: "user id", // Discord user id that will be notified for certain event (in general, it's the pronote account owner)
    slashCommandGuildId: "slash command guild id", // The Discord guild id where the slash commands will be added.
    channels: {
        homework: "channel id for homework", // Discord channel id for the homeworks
        moyenne: "channel id for moyenne", // Discord channel id for the averages updates
        timetableChange: "channel id for timetable change", // Discord channel id for the timetable changes (missing teacher...)
        timetable: "channel id for the timetable embed", // Discord Channel id for the live timetable embed
    },
    colors: { // Bypass default color of a subject if you don't like it or if the color is confusing. The name must be the same as what you see in your timetable to work !
            "subject name": "#customColor", 
            // "SCIENCES VIE & TERRE": "#38c219", // example
    }
}
