module.exports = {

    "loginURL":"ent redirect url (by now: https://ent.l-educdenormandie.fr/auth/login?callback=%2Fcas%2Flogin%3Fservice%3Dhttps%253A%252F%252F0610001V.index-education.net%252Fpronote%252Feleve.html#/)",

    "owner_id": "Bot owner id (unlock eval command)",
    "prefix": "Bot prefix for message commands",
    "slashCommandGuildId": "slash command guild id",
    "suggId": "channel id for suggestion",
    "channels": {
        "homework": "channel id for homework",
        "moyenne": "channel id for moyenne",
    },
    "colors": { // Set colors for each subject in your timetable. It must be the same as what you see in your timetable to work !
            "subject name": "#customColor", 
            // "SCIENCES VIE & TERRE": "#38c219", // example
            "default": "#000000" // default color must be provided ! He will be used for all non-set subject
    }
}
